
.slidi{
   height: 350px;
   width: 100%;

}
.img1{
   width: 75px;
   height:75px;
   border-radius: 10px;

}
.categories{
   margin-top: 20px;
   box-shadow: 0px 0px 10px black;
   height: 150px;
}
.categories:hover{
   box-shadow: 0px 0px 15px black;
}
.c1{
   margin-top: 100px;
   
}
.i1{
   color: aliceblue;
}